@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "charterregular";
  color: #181818;
  background: #fcfcfc;
} 

@layer base {
	h1 {
		@apply text-xl;
	}
	h2 {
		@apply text-lg;
		@apply flex flex-row-reverse items-center justify-end;
		@apply mt-3
	}
	h3 {
		@apply text-base;
	}
	p, li {
		@apply text-sm;
	}

	code {
		@apply text-xs;
	}

	span {
		color: #333333;
		height: 50%;
		font-size: 99%;
	}

	p {
		margin-top: 5px;
		margin-bottom: 15px;
	}
	pre[class*=language-] {
    	@apply bg-white;
	    @apply rounded-lg;
    	@apply text-xxxs !important;
	    @apply mb-6; 
    	line-height: 1.5rem;
	    font-family: "Roboto Mono";
    	border: 1px solid #ebebeb;
		margin-top: -10px;
	}
	ul {
    	@apply list-disc;
  	}
  	ul li {
		@apply ml-8;
  	}
  	ol {
    	@apply list-decimal;
  	}
  	ol li {
		@apply ml-8
  	}
	@media (min-width: theme('screens.sm')) {
		h1 {
			@apply text-xxl;
		}
		h2 {
			@apply text-xl;
		}
		h3 {
			@apply text-lg;
		}

        p, li {
			@apply text-base;
		}

		code {
			@apply text-sm;
		}
    }
}

code {
  font-family: "Roboto Mono";
  color: #777777;
}


li::marker {
	font-weight: 600;
}


a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
	color: #0471d7;
}

h2:hover .icon {
  display: block;
  margin-left: 10px;
  background-image: url("$lib/assets/link.png");
  background-size: 16px 16px;
  cursor: pointer;
}

.icon-link, .icon {
  height: 16px;
  width: 16px;
  margin-right: 0px;
}

/* ---------- ARTICLE STYLING ----------- */
article blockquote {
	margin-top: -10px;
	border-left: 3px solid #dddddd;
}

article blockquote p {
	font-family: "charteritalic";
	color: #666666;
	font-size: 20px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 20px;
	margin-right: 20px;
}

article blockquote p b {
	font-family: "charterregular";
	color: #181818;
	font-weight: 500;
	font-size: 19px;
}

article code:not(pre code) {
	border: 1px solid #ebebeb;
	background: white;
	color: #444444 !important;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 10px;
}

article p {
	margin-top: 15px;
	margin-bottom: 20px;
}

article ol, article ul {
	margin-top: -20px;
}

/* ------------ SCROLLBAR -------------- */
pre::-webkit-scrollbar {
    height: 8px;
    width: 10px;
	border-radius: 9999px;
    background: #ebebeb;
}

/* Track */
pre::-webkit-scrollbar-track {
    background: #fbfbfb;
	border-radius: 10px;
}

/* Handle */
pre::-webkit-scrollbar-thumb {
    background: #ebebeb;
	border-radius: 16px;
}

/* Handle on hover */
pre::-webkit-scrollbar-thumb:hover {
    background: #0471d7;
}


/*.image-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.image-container * {
  margin-right: 5px;
  margin-left: 5px;
}*/

@font-face {
    font-family: 'charterregular';
    src: url('/fonts/charter_regular-webfont.woff2') format('woff2'),
         url('/fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charteritalic';
    src: url('/fonts/charter_italic-webfont.woff2') format('woff2'),
         url('/fonts/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterbold_italic';
    src: url('/fonts/charter_bold_italic-webfont.woff2') format('woff2'),
         url('/fonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterbold';
    src: url('/fonts/charter_bold-webfont.woff2') format('woff2'),
         url('/fonts/charter_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
