@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
    font-family: 'Computer Modern';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/cmunbi.eot'); /* IE9 Compat Modes
    src: local(''), url('/fonts/cmunbi-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 url('/fonts/cmunbi-500.woff2') format('woff2'),
        /* Super Modern Browsers url('/fonts/cmunbi-500.woff') format('woff'),
        /* Modern Browsers url('/fonts/cmunbi-500.ttf') format('truetype'),
        /* Safari, Android, iOSurl('/fonts/cmunbi-500.svg') format('svg'); /* Legacy iOS
}*/

html {
  font-family: "Merriweather";
  color: #333333;
  background: #fdfdfd;
} 

* {
  line-height: 1.7rem;
}

code:not(nav a code) {
  font-family: "Roboto Mono";
  color: #aaaaaa;
}

nav a {
  margin-left: 20px;
  margin-right: 20px;
}

.img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
  top: 100%;
  left: 100%;
  border: 1px solid #ebebeb;
}

.image-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.image-container * {
  margin-right: 5px;
  margin-left: 5px;
}

@layer base {
  h1 {
    font-size: 27px;
    line-height: 2.5rem;
  }

  h2 {
    @apply text-xl;
    @apply mt-5;
    @apply mb-3;
    @apply flex flex-row-reverse items-center justify-end;
  }

  h3 {
    @apply mt-4;
    @apply mb-2;
    @apply text-lg;
  }

  h3:not(ul h3) {
    @apply font-semibold;
  }

  pre[class*=language-] {
    @apply bg-[#ffffff];
    @apply rounded-lg;
    @apply text-sm;
    line-height: 1.5rem;
    font-family: "Roboto Mono";
    border: 1px solid #ebebeb;
    @apply mt-6; 
    @apply mb-6; 
  }
  pre::-webkit-scrollbar {
    height: 8px;
    width: 10px;
    @apply rounded-full;
    background: #ebebeb;
  }

/* Track */
  pre::-webkit-scrollbar-track {
    background: #fbfbfb;
    @apply rounded-sm;
  }

/* Handle */
  pre::-webkit-scrollbar-thumb {
    background: #ebebeb;
    @apply rounded-md;
  }

/* Handle on hover */
  pre::-webkit-scrollbar-thumb:hover {
    background: #0471d7;
  }

  ul {
    @apply list-disc;
  }

  ul li {
    @apply ml-6;
  }
}

.text-xs {
  line-height: 1.3rem;
}

.code {
  font-family: "Roboto Mono";
}

a:not(nav a):not(.post):not(.footer-link) {
  color: #0471d7;
  font-weight: 500;
}

a:not(.post):hover {
  cursor: pointer;
  text-decoration: underline;
}

ul p, a p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4rem;
}

p:not(nav p):not(ul p):not(.post p) {
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1.8rem;
}


h2:hover .icon {
  display: block;
  margin-left: 10px;
  background-image: url("$lib/assets/link.png");
  background-size: 16px 16px;
}

.icon-link, .icon {
  height: 16px;
  width: 16px;
  margin-right: 0px;
}
