@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Charter";
	font-weight: normal;
  color: #181818;
  background: #fcfcfc;
} 


* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
	h1 {
		@apply text-xl;
	}
	h2 {
		@apply text-lg;
		@apply flex flex-row-reverse items-center justify-end;
		@apply mt-3
	}
	h3 {
		@apply text-sm;
	}

	article h3, strong, b {
		color: #303030;
		@apply font-bold;
		letter-spacing: 0.1px;
	}

	article strong span {
		font-weight: 600;
	}

	strong, b {
		@apply text-[16px]
	}

	p, li {
		@apply text-sm;
		line-height: 1.5rem;
	}

	code {
		@apply text-xs;
	}

	nav a * {
		@apply text-[15px] !important;
	}

	span:not(.katex-display span) {
		color: #333333;
		font-size: 100%;
	}

	p {
		margin-top: 5px;
		margin-bottom: 15px;
	}
	pre[class*=language-] {
    	@apply bg-white;
	    @apply rounded-lg;
			@apply w-full;
			@apply text-[12px];
	    @apply mb-6; 
    	line-height: 1.2rem;
	    font-family: "Roboto Mono";
    	border: 1px solid #ebebeb;
	}
	ul {
    	@apply list-disc;
  	}
  	ul li {
		@apply ml-8;
		@apply mb-1;
  	}
  	ol {
    	@apply list-decimal;
  	}
  	ol li {
		@apply ml-8;
		@apply mb-1;
  	}
	@media (min-width: theme('screens.sm')) {
		h1 {
			@apply text-xxl;
		}
		h2 {
			@apply text-xl;
		}
		h3 {
			@apply text-[20px];
		}

		nav a * {
			@apply text-[16px] !important;
		}


    p, li {
			@apply text-base;
			line-height: 1.7rem;
		}

		code {
			@apply text-sm;
		}

		strong, b {
			@apply text-[18px]
		}
		pre[class*=language-] {
    	@apply text-xxxs !important;
    	line-height: 1.5rem;
		}
  }
}

code {
  font-family: "Roboto Mono";
  color: #777777;
}


li::marker {
	font-weight: 600;
}


a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
	color: #0471d7;
}

h2:hover .icon {
  display: block;
  margin-left: 10px;
  background-image: url("$lib/assets/link.png");
  background-size: 16px 16px;
  cursor: pointer;
}

.icon-link, .icon {
  height: 16px;
  width: 16px;
  margin-right: 0px;
}

/* ---------- ARTICLE STYLING ----------- */
article ul, article ol {
	margin-bottom: 10px;
}

article {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow: hidden;
}

article table {
	margin-top: 10px;
	display: block;
	max-width: 100%;
	overflow-x: scroll !important;
}

article div {
	display: block;
	max-width: 100%;
	overflow-x: scroll;
}

article p, article * li, article ul, article ol, article h2, article h3, article h1, article hr, article blockquote {
	width: 100%;
	max-width: 100%;
}

article * li {
	max-width: calc(100% - 2rem);
}

article hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

article th {
	border: 1px solid #aaaaaa;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

article td {
	border: 1px solid #aaaaaa;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
		padding-right: 10px;
}

article blockquote {
	border-left: 3px solid #dddddd;
}

article blockquote p {
	font-family: "Charter";
	font-style: italic;
	color: #666666;
	font-size: 20px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 20px;
	margin-right: 20px;
}

article blockquote p b {
	font-family: "Charter";
	font-style: normal;
	color: #181818;
	font-weight: 500;
	font-size: 18px;
}

article code:not(pre code) {
	border: 1px solid #ebebeb;
	background: white;
	color: #444444 !important;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 10px;
}

article p {
	margin-top: 9px;
	margin-bottom: 9px;
}

article ol, article ul {
	margin-top: -10px;
}

article h2, article h3 {
	margin-bottom: -7px !important;
}

article img {
	border: 1px solid #ebebeb;
	border-radius: 10px;
}

/* ------------ SCROLLBAR -------------- */
pre::-webkit-scrollbar {
    height: 8px;
    width: 10px;
	border-radius: 9999px;
    background: #ebebeb;
}

/* Track */
pre::-webkit-scrollbar-track {
    background: #fbfbfb;
	border-radius: 10px;
}

/* Handle */
pre::-webkit-scrollbar-thumb {
    background: #ebebeb;
	border-radius: 16px;
}

/* Handle on hover */
pre::-webkit-scrollbar-thumb:hover {
    background: #0471d7;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/Charter.woff2') format('woff2'),
        url('/fonts/Charter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/Charter-BoldItalic.woff2') format('woff2'),
        url('/fonts/Charter-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/Charter-Bold.woff2') format('woff2'),
        url('/fonts/Charter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/Charter-Italic.woff2') format('woff2'),
        url('/fonts/Charter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

